/* Valkyrie B */

@font-face {
	font-family: Valkyrie B;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/valkyrie_b_regular.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie B;
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/valkyrie_b_italic.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie B;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/valkyrie_b_bold.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie B;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/valkyrie_b_bold_italic.woff2') format('woff2');
}


/* Hermes Maia 4 Caps */

@font-face {
	font-family: Hermes Maia Caps;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/hermes_maia_4_caps_regular.woff2') format('woff2');
}

@font-face {
	font-family: Hermes Maia Caps;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/hermes_maia_4_caps_bold.woff2') format('woff2');
}

/* Hermes Maia 3 */

@font-face {
	font-family: Hermes Maia;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/hermes_maia_3_regular.woff2') format('woff2');
}

@font-face {
	font-family: Hermes Maia;
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/hermes_maia_3_italic.woff2') format('woff2');
}

@font-face {
	font-family: Hermes Maia;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/hermes_maia_3_bold.woff2') format('woff2');
}

@font-face {
	font-family: Hermes Maia;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/hermes_maia_3_bold_italic.woff2') format('woff2');
}

/* Heliotrope 4 Caps */

@font-face {
	font-family: 'Heliotrope Caps';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/heliotrope_4_caps_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Heliotrope Caps';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/heliotrope_4_caps_bold.woff2') format('woff2');
}

/* Heliotrope 4 */

@font-face {
	font-family: 'Heliotrope';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/heliotrope_4_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Heliotrope';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/heliotrope_4_italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Heliotrope';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/heliotrope_4_bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Heliotrope';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/heliotrope_4_bold_italic.woff2') format('woff2');
}

/* Concourse 3 OT */

@font-face {
	font-family: 'Concourse OT';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/concourse_ot_3_book.woff2') format('woff2');
}

@font-face {
	font-family: 'Concourse OT';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/concourse_ot_3_book_italic.woff2') format('woff2');
}
